// Define variables for your color scheme

// For example:
$strong-red: #c90000;
$red: #950000;
$dark-red: #461917;
$light-red: #fefcfc;
$blue: #05155a;
$dark-blue: #05155a;
$light-blue: #d6e3fd;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #333333;
$light-gray: #E3E5E6;
$dark-gray: #444444;
$ultra-light-gray: #efefef;
