.card-bet-edit {
  width: 100%;
  height: 500px;
  margin-left: 10px;
  margin-top: 40px;
  background-color: $light-gray;
}
.slidecontainer {
  margin-left: 25%;
}
#bet-range {
  display: inline;
  background-color: $red;
}
#min-value {
  display: inline;
}
#max-value {
  display: inline;
}
.btn-opt-bet {
  font-size: 40px;
  margin-left: 80%;
}
#accept {
  color: green;
  cursor: pointer;
}
#decline {
  color: $strong-red;
  cursor: pointer;
}
#challenge-completed {
  color: green;
  cursor: pointer;
}
#challenge-incompleted {
  color: $strong-red;
  cursor: pointer;
}
