body {
  background-color: white;
}
.banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(40,40,40,0.6) 50%), url("http://res.cloudinary.com/danielphr/image/upload/v1518115092/kristopher-roller-320078_d3ic0w.jpg");
  width: 100%;
  color: $light-red;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.banner-content {
  margin-top: 0;
  margin-bottom: 20%;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.how-works {
  background-color: $light-gray;
  color: $dark-gray;
  margin-top: 0;
  padding-bottom: 50px;
}
.how-works h3 {
  text-align: center;
  margin-top: 0;
  padding-bottom: 50px;
  padding-top: 50px;
}
.card-how-works {
  margin: 0 auto;
  width: 300px;
  background-color: white;
  padding: 50px;
  position: relative;
  z-index: 0;
}
.step-number {
  background-color: white;
  border: 2px solid $dark-gray;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  position: absolute;
  top: -40px;
  left: 85px;
  z-index: 1;
}


.experiences {
  margin: 5%;
}
.experiences h3 {
  text-align: center;
}
.user-experience {
  background-color: $light-gray;
  margin-top: 70px;
  padding: 30px;
}
.experience-img img {
  margin: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
#first-experience {
  width: 630px;
}
#second-experience {
  width: 630px;
}
#second-experience p {
  margin-left: 80px;
}
#third-experience {
  width: 630px;
}
.charity-institutions {
  padding-top: 30px;
  margin-bottom: 0;
  background-color: $light-gray;
}
.charity-institutions h3 {
  text-align: center;
}
.charity-institutions img {
  height: 250px;
  margin: 0 20%;
}
