body {
  background-color: white;
}
.banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url("http://localhost:3000/assets/banner-1f6b50b93cd2a7f4b4f9896f7d127618348a7096b66773f120db2606005d2eeb.jpg");
  width: 100%;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.experiences {
  margin: 5%;
}
.user-experience {
  background-color: $light-gray;
  margin-top: 70px;
  padding: 30px;
}
.user-img img {
  margin: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
#first-experience {
  width: 630px;
}
#second-experience {
  width: 630px;
}
#second-experience p {
  margin-left: 80px;
}
#third-experience {
  width: 630px;
}
.charity-institutions {
  margin: 10%;
  margin-bottom: 0;
}
.charity-institutions h3 {
  text-align: center;
}
.charity-institutions img {
  height: 250px;
  margin: 0 20%;
}
