.card-challenge-index {
  width: 40%;
  height: 200px;
  margin: 20px;
  margin-left: 0;
  position: relative;
  background-color: $light-gray;
  color: $red;
}
.card-image-index {
  position: absolute;
  left: 20px;
  top: 35px;
}
.card-image-index img {
  border-radius: 50%;
}
.card-title-index {
  position: absolute;
  right: 20px;
  top: 30px;
  padding: 0;
  width: 270px;
}
.card-title-index h1 {
  padding: 10px;
  margin: 0;
  font-size: 20px;
}
.card-date-index {
  position: absolute;
  left: 185px;
  bottom: 15px;
  padding: 0;
}
.card-date-index h3 {
  margin: 0;
  padding: 10px;
  font-size: 15px;
}
.card-date-index i {
  font-size: 70px;
}
.date-left {
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  font-size: 20px;
}
.check-challenge-completion {
  color: green;
  font-size: 35px;
  margin-left: 70px;
}
