.challenges {
  width: 95%;
  padding-top: 30px;
}

.des-and{
  margin-bottom: 40px;
  color: $red;
  font-weight: bold;
}

.card-challenge-index {
  display: center;
  width: 90%;
  height: 200px;
  margin: 20px;
  position: relative;
  background-color: $light-gray;
  color: $red;
}
.card-image-index {
  position: absolute;
  left: 10px;
  top: 50px;
}
.card-image-index img {
  border-radius: 50%;
}
.card-title-index {
  position: absolute;
  left: 40%;
  top: 20px;
  padding: 0;
  width: 50%;
}
.card-title-index h1 {
  padding: 10px;
  margin: 0;
  font-size: 20px;
}
.card-date-index {
  position: absolute;
  left: 40%;
  bottom: 15px;
  padding: 0;
  // width: 200px;
}
.card-date-index h3 {
  margin: 0;
  padding: 10px;
  font-size: 15px;
}
.card-date-index i {
  font-size: 70px;
}
.date-left {
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  font-size: 20px;
}
.check-challenge-completion {
  color: green;
  font-size: 35px;
  margin-left: 70px;
}
