body {
  margin: 0;
  background-color: #FDFFFF;
}
.banner-challenge {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(40,40,40,0.6) 50%), url("http://res.cloudinary.com/danielphr/image/upload/v1518656829/climbing_sofvbo.jpg");
  width: 100%;
  background-position: center center;
  height: calc(70vh - 70px);
  background-size: cover !important;
  position: relative;
}
#challenge-title {
  width: 40%;
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 40px;
  font-weight: bold;
  color: #F1E9DD;
}
#challenge-description {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 60%;
  font-size: 25px;
  color: #F1E9DD;
}
#challenge-user-photo {
  width: 200px;
  position: absolute;
  bottom: -15%;
  box-shadow: 2px 2px #CCCCCC;
  border-radius: 3px;
  z-index: 1;
}
.challenge-dashboard {
  position: relative;
  margin: 0;
  width: 100%;
  height: 30vh;
  background-color: $light-gray;
}

#btn-end-challenge {
  position: absolute;
  background-color: $red;
  color: $light-red;
  bottom: 50%;
  left: 1%;
}
#end-challenge-icons {
  display: none;
  font-size: 30px;
}
#win-challenge {
  position: absolute;
  bottom: 40%;
  left: 3%;
  color: green;
  cursor: pointer;
}
#loose-challenge {
  position: absolute;
  bottom:40%;
  left: 6%;
  color: $strong-red;
  cursor: pointer;
}

.challenge-infos {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
}
.challenge-infos-finish {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  vertical-align: center;
}

.challenge-info {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 0 50px 0 50px;
  z-index: 1;
}
.challenge-info p {
  font-size: 30px;
}
.challenge-info-title {
  color: $red;
}
#challenge-start-date {
  // position: relative;
  // top: -20%;
  // left: 20%;
}
#challenge-left-days {
  // position: relative;
  // top: -76%;
  // left: 40%;
}
#challenge-value {
  // position: relative;
  // top: -133%;
  // left: 60%;
}

.challenge-progresses {
  background-color: #FDFFFF;
}
#form-progress-button:hover {
  color: $dark-gray;
  text-decoration: none;
}

.challenge-progresses h1 {
  top: 10%;
  text-align: center;
  color: $red;
  font-weight: bold;
}
.challenge-progress-owner {
  width: 97%;
  height: 300px;
  margin: 20px;
  position: relative;
  background-color: #FDFDFD;
}
.progress-owner-photo {
  position: absolute;
  top: 25%;
  left: 5%;
}
.progress-owner-photo img {
  border-radius: 50%;
}
.progress-title {
  position: absolute;
  top: 5%;
  left: 30%;
  border-bottom: 3px solid $red;
}
.progress-description {
  position: absolute;
  overflow-y: auto;
  height: 50px;
  top: 100px;
  padding: 0;
  margin: 0;
  left: 30%;
  width: 33%;
  word-break: break-all;
}
.progress-date {
  position: absolute;
  left: 5%;
  bottom:10%;
}
.progress-participant-photo img {
  border-radius: 50%;
}
.progress-title-participant {
  position: absolute;
  top: 5%;
  left: 30%;
  border-bottom: 3px solid $red;
}
.progress-description-participant {
  position: absolute;
  top: 30%;
  right: 25%;
}
.progress-date-participant {
  margin-left: 76%;
}
#open-form-progress {
  position: absolute;
  right: 10%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
  color: #666666;
}
#open-form-progress:hover {
  color: $dark-gray;
  text-decoration: none;
}

// .card-challenge-show {
//   width: 75%;
//   height: 300px;
//   margin: 20px;
//   position: relative;
//   background-color: #e5e5e5;
// }
// .card-image {
//   position: absolute;
//   left: 20px;
//   top: 20px;
// }
// .card-image-index img {
//   border-radius: 50%;
// }
// .card-title {
//   position: absolute;
//   right: 70px;
//   top: 10px;
//   padding: 0;
//   width: 500px;
// }
// .card-title h1 {
//   padding: 10px;
//   margin: 0;
//   font-size: 35px;
// }
// .card-description {
//   position: absolute;
//   right: 70px;
//   top: 100px;
//   height: 100px;
//   width: 500px;
// }
// .card-date {
//   position: absolute;
//   left: 385px;
//   bottom: 15px;
//   padding: 0;
// }
// .card-date-index h3 {
//   margin: 0;
//   padding: 10px;
// }
// .card-date-index i {
//   font-size: 70px;
// }
// .data-left {
//   border-radius: 50%;
//   background-color: white;
//   padding: 10px;
//   font-size: 40px;
// }
// .card-start-date {
//   position: absolute;
//   left: 55px;
//   bottom: 0px;
// }
// .card-info {
//   position: absolute;
//   bottom: 30px;
//   left: 75px;
// }
.sidebar {
  display: inline;
  position: absolute;
  right: 0;
  height: 100%;
  background-color: $light-gray;
}
.card-bet {
  width: 95%;
  height: 100px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #e5e5e5;
}
.card-bet .bet-img {
  position: relative;
  top: 20px;
  left: 10px;
}
.card-bet h3 {
  position: relative;
  bottom: 70px;
  left: 75px;
  font-size: 20px;
  width: 290px;
}
.card-bet p {
  position: relative;
  bottom: 75px;
  left: 85px;
  width: 290px;
}
.accepted {
  background-color: #b8edaa;
}
.declined {
  background-color: #f4a4a4;
}
.waiting_confirmation {
  background-color: #f4caa4;
}
#sidebar-btn {
  margin-left: 90%;
  padding-top: 10%;
  cursor: pointer;
}
#sidebar-btn:hover {
  color: $dark-gray;
}
#invite-user {
  cursor: pointer;
}
#invite-user:hover {
  color: $dark-gray;
}
.sidebar h2 {
  margin-left: 10px;
  margin-top: -27px;
  font-size: 33px;
}
.sidebar h3 {
  margin-left: 10px;
  margin-top: 30px;
}
.sidebar-invite {
  position: relative;
  right: 110px;
  top: 35px;
  font-size: 25px;
}
.bet-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4) !important; /* Black w/ opacity */
}

/* Modal Content/Box */
.bet-modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.search {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.search-bar {
  width: 75%;
  display: inline-block;
}
.search-btn {
  display:inline-block;
}
.search-user {
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0;
  width: 60%;
  padding: 5px;
  position: relative;
  left: -40px;
}
.search-user:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.active {
  border: 3px solid $blue;
}
.user-img {
  display:inline-block;
}
.search-user p {
  padding-left: 30px;
  font-size: 20px;
  display:inline-block;
}
.bet-modal h3 {
  margin-bottom: 30px;
}
.bet-modal li {
  list-style: none;
}
.modal-btns {
  margin-left: 70%;
}
.invisible {
  display: none;
}
#authenticity_token {
  display: none;
}
.challenge-complete {
  font-size: 30px;
}
.check-challenge-complete {
  color: green;
}
.challenge-incomplete {
  font-size: 30px;
}
.check-challenge-incomplete {
  color: $strong-red;
}

.btn-accept-bet {
  position: relative;
  bottom: 115%;
  left: 70%;
}
#accept-bet {
  color: green;
  font-size: 30px;
  display: inline;
  padding: 10px;
  cursor: pointer;
}
#decline-bet {
  color: $strong-red;
  font-size: 30px;
  display: inline;
  cursor: pointer;
}
.btn-complete-bet {
  position: relative;
  bottom: 115%;
  left: 70%;
}
#challenge-completed {
  color: green;
  font-size: 30px;
  display: inline;
  padding: 10px;
  cursor: pointer;
}
#challenge-incomplete {
  color: $strong-red;
  font-size: 30px;
  display: inline;
  cursor: pointer;
}
.confirm-bet {
  position: relative;
  bottom: 115%;
  left: 50%;
}
.confirm-bet p {

}
#confirmed {
  color: green;
  font-size: 30px;
  padding: 10px;
}
#denied {
  color: $strong-red;
  font-size: 30px;
}
