<div class="container">
  <% @progresses.each do |progress| %>
    <h3><%= progress.title %></h3>
    <h3><%= progress.description %></h3>
    <h3><%= progress.date %></h3>
    <h3><%= progress.photo %></h3>
  <% end %>
</div>
