.card {
  text-shadow: 0 1px 1px $light-gray;
  color: $blue;
  background-color: white;
  border: 1px solid $light-gray;
  border-radius: 5px;
  box-shadow: 1px 1px rgba(249,249,249,0.6);
  z-index: 0;
}
.card-challenge-show {
  width: 75%;
  height: 500px;
  margin: 20px auto;
  position: relative;
}
.card-invite {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 25px;
}
.card-title {
  position: absolute;
  right: 100px;
  top: 20px;
}
.card-image {
  position: absolute;
  left: 20px;
  top: 20px;
}
.card-description {
  position: absolute;
  right: 300px;
  top: 150px;
}
.card-dates {
  position: absolute;
  right: 300px;
  top: 250px;
  display: inline;
}
.card-info {
  position: absolute;
  right: 300px;
  top: 350px;
}
.sidebar {
  display: inline;
  position: absolute;
  top: 90px;
  right: 50px;
  width: 235px;
  height: 100%;
}
.card-bet {
  width: 100%;
  height: 100px;
  margin-left: 10px;
  margin-top: 20px;
}
.card-bet .bet-img {
  position: relative;
  top: 20px;
  left: 0;
}
.card-bet h3 {
  position: relative;
  bottom: 65px;
  left: 75px;
  font-size: 25px;
}
.card-bet p {
  position: relative;
  bottom: 75px;
  left: 80px;
}
#sidebar-btn {
  margin-left: 225px
}
