.card {
  text-shadow: 0 1px 1px $light-gray;
  color: $blue;
  background-color: white;
  border: 1px solid $light-gray;
  border-radius: 5px;
  box-shadow: 1px 1px rgba(249,249,249,0.6);
  z-index: 0;
}

.card-progress {
  width: 75%;
  height: 200px;
  margin: 20px;
  position: relative;
  background-color: rgba(229,229,229,0.4);
}

.card-progress-image {
  position: absolute;
  left: 10px;
  top: 10px;
}

.card-progress-image img{
  border-radius: 50%;
  font-size: 25px;
}

.card-progress-title {
  position: absolute;
  top: 10px;
  padding: 0;
  margin: 0;
  left: 30%;
}

.card-progress-desc {
  position: absolute;
  overflow-y: auto;
  height: 150px;
  top: 60px;
  padding: 0;
  margin: 0;
  left: 30%;
  width: 33%;
  word-break: break-all;
}

.card-progress-date {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 0;
  margin: 0;
}

.card-progress-name {
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.card-progress-img {
  position: absolute;
  right: 10px;
  top: 25px;
}
