.text-center {
  text-align: center;
}

.hidden {
  display: hidden;
}

.inline {
  display: inline;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  width: 75%;
  height: auto;
  margin: 20px;
}
